.main-app {
  padding: 40px;
  text-align: center;
}

.cta-button {
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 12px;
  min-width: 250px;
}

.connect-wallet-button {
  background: #7b3fe4;
}

.disconnect-wallet-button {
  border: 1px solid gray;
  color: black;
  background: white;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.details {
  padding: 10px 20px;
  margin: 20px auto;
  border: 1px solid gray;
  border-radius: 12px;
  max-width: 750px;
  text-align: center;
  word-break: break-all;
}

.details h2 {
  /* background: red; */
  margin: 0;
}
.detail {
  margin: 12px 0;
}
.details .detail:last-child {
  margin: 12px 0 6px 0;
  /* background: red; */
}

.detail span:first-of-type {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}
